.about {
    width: 100%;
    height: 65vh;
    min-height: 430px;
    background-color: $gray;
    padding: 3rem 16rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__left {
        width: 35%;

        &-title {
            font-size: 2.6rem;
            font-family: $secondary-font;
            color: $darkblue;
            padding-bottom: 2px;
            position: relative;
            width: 105px;
            margin-bottom: 3rem;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                border-bottom: 2.5px solid $orange;
                width: 100%;
            }
        }

        &-para {
            font-size: 2rem;
            width: 400px;
        }
    }

    &__right {
        width: 35%;

        &-box {
            width: 350px;
            height: 300px;
            background-color: $white;
            box-shadow: 1.5px 2px 2px rgba(0, 0, 0, .2);
            padding: 2rem 1.5rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;

            &--title {
                font-family: $secondary-font;
                width: 60%;
                font-size: 2.6rem;
                color: $darkblue;
                padding-bottom: 1.5rem;
                border-bottom: 1px dotted rgba(0, 0, 0, .7);
                margin-bottom: 1.5rem;
            }

            &--desc {
                font-size: 2.6rem;
                font-family: $secondary-font;
                font-weight: 600;
                color: $lightgreen;

                span {
                    display: block;
                    color: $orange;
                    font-family: $primary-font;
                    font-size: 4.2rem;
                    font-weight: 300;
                }
            }
        }
    }
}