.aboutus {
    width: 100%;
    height: 100%;
    padding: 5rem 10rem;

    @media screen and (max-width: 900px) {
        padding: 3rem 5rem;
    }

    &__title {
        font-family: $secondary-font;
        font-size: 2rem;
        color: $darkblue;
        width: 70px;
        margin: 2rem auto;
        margin-bottom: 5rem;
        text-align: center;
        border-bottom: 2px solid $orange;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 900px) {
            flex-wrap: wrap;
        }
    }

    &__box {
        width: 25%;
        min-width: 200px;

        @media screen and (max-width: 900px) {
            margin: 2rem;
        }

        @media screen and (max-width: 550px) {
            width: 70%;
            margin: 0 auto;
            margin-bottom: 4rem;
        }

        &-img {
                width: 100%;
                min-height: 150px;
                height: 30vh;
                background-size: cover;
                background-image: url(../img/slidepics/slide1.jpg);
                background-position: center;
        }

        .img1 {
            background-image: url(../img/slidepics/slide1.jpg);
        }

        .img2 {
            background-image: url(../img/slidepics/slide2.jpg);
        }

        .img3 {
            background-image: url(../img/slidepics/slide3.jpg);
        }

        &-title {
            margin: 2rem 0;
            margin-bottom: .5rem;
            font-size: 1.8rem;
            color: $lightgreen;
        }

        &-desc {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 1.3em;
            color: $darkblue;
        }
    }

    &__img {
        width: 100%;
        height: 60vh;
        background-image: url(../img/slidepics/slide4.jpg);
        background-size: cover;
        background-position: center;
        margin: 10rem 0;
        margin-bottom: 0;
    }
}