.basket, .results {
    width: 100%;
    height: 100%;
    padding: 5rem 8rem;

    @media screen and (max-width: 700px) {
        padding: 6rem;
    }

    @media screen and (max-width: 500px) {
        padding: 2rem;
    }

    &__title {
        width: 150px;
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @media screen and (max-width: 1025px) {
            flex-direction: column-reverse;
        }
    }

    .product {
        border-bottom: 1px dotted rgba(0, 0, 0, .4);
    }

    &__left, &__area {
        width: 60%;
        // background-color: #EEE;

        @media screen and (max-width: 975px) {
            width: 80%;
            margin: 0 auto;
        }

        &-topbar {
            width: 100%;
            display: flex;
            // justify-content: space-between;
            padding: 1.5rem 0;
            padding-right: 5%;
            border-top: 1px dotted rgba(0, 0, 0, .4);
            border-bottom: 1px dotted rgba(0, 0, 0, .4);

            @media screen and (max-width: 600px) {
                display: none;
            }

            &--proddesc, &--quantity, &--total {
                font-size: 2rem;
                font-family: $secondary-font;
                color: $darkblue;
            }

            &--proddesc {
                width: 70%;
            }

            &--quantity {
                width: 15%;
            }

            &--total {
                width: 15%;
            }
        }

        &-info {
            width: 100%;
            display: flex;
            // justify-content: space-between;
            padding: 2rem 0;
            padding-right: 5%;

            @media screen and (max-width: 750px) {
                flex-direction: column;
            }

            &--desc {
                width: 70%;

                @media screen and (max-width: 975px) {
                    width: 100%;
                    margin: 0 auto;
                }

                &---title {
                    font-family: $secondary-font;
                    font-size: 1.8rem;
                    color: $lightgreen;
                    margin-bottom: 5px;
                }

                &---author {
                    font-family: $secondary-font;
                    font-weight: 300;
                    font-size: 2rem;
                    color: $darkblue;
                }
            }

            &--quant {
                width: 15%;

                .prod_quantity {
                    width: 60px;
                    height: 60px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 2.4rem;
                    font-family: inherit;
                    padding: 5px;
                    color: $darkblue;

                }
            }

            &--price {
                width: 15%;
                font-family: $secondary-font;
                font-size: 2.4rem;
                font-weight: 600;
                color: $darkblue;
            }
        }

        &-book {
            width: 100%;
            padding-right: 5%;
            display: flex;
            // justify-content: space-between;

            @media screen and (max-width: 900px) {
                flex-direction: column;
            }

            &--img {
                width: 30%;
                min-width: 340px;
                height: 250px;
                background-image: url(../img/products/book1_front.png);
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                margin-right: 5%;

                @media screen and (max-width: 900px) {
                    width: 80%;
                }
            }

            &--details {
                margin-top: 15px;

                &---skick, &---format, &---sidor, &---vikt, &---datum {
                    font-size: 1.6rem;
                    margin-bottom: 5px;
                    color: $darkblue;

                    span {
                        font-weight: 600;
                    }
                }

                &---desc {
                    font-size: 1.8rem;
                    font-weight: 600;
                    color: $darkblue;
                    line-height: 1.3em;

                    span {
                        color: $lightgreen;
                    }

                    span.readmore {
                        color: $orange;
                        cursor: pointer;
                    }
                }

                .delete_from_basket {
                    cursor: pointer;
                    margin-top: 1rem;
                    margin-bottom: 3rem;
                    font-size: 2rem;
                    text-align: center;
                    background-color: $red;
                    color: $white;
                    padding: .5rem 1rem;
                    width: 12rem;
                    transition: all .3s;

                    &:hover {
                        background-color: darken($red, 15%);
                    }
                }
            }
        }
    }

    &__right {
        width: 35%;

        @media screen and (max-width: 975px) {
            width: 80%;
            margin: 3rem auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        @media screen and (max-width: 500px) {
            width: 100%;
            margin: 0 auto;
        }

        &-box {
            width: 80%;
            height: 100%;
            padding: 3.5rem;
            background-color: rgba(#DEDEDE, .8);
            border: 1px solid rgba(#777, .4);
            box-shadow: .5px .5px 1px rgba(0, 0, 0, .1);

            &--title {
                margin: 0 auto;
                width: 130px;
                font-size: 1.8rem;
                color: $lightgreen;
                border-bottom: 1.5px solid $red;
                padding-bottom: 3px;
                margin-bottom: 30px;
            }

            &--pris, &--moms, &--frakt, &--totalt {
                color: $darkblue;
                padding: .5rem 0;
                font-size: 2rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                
                &---name {
                    font-family: $secondary-font;
                }
                
            }
            
            &--frakt {
                border-bottom: 1px dotted rgba(0, 0, 0, .4);

                &---value {
                    color: $lightgreen;
                }
            }

            .checkout {
                &:link, &:visited {
                    border: 1px solid orange;
                    background-color: $darkblue;
                    color: $orange;
                }

                &:hover, &:active {
                    background-color: lighten($darkblue, 10%);
                }
            }

            .continue, .checkout {
                &:link, &:visited {
                    width: 80%;
                    text-align: center;
                    height: auto;
                    cursor: pointer;
                    display: block;
                    margin: 40px auto;
                    margin-bottom: 20px;
                    border-radius: 30px;
                    padding: 1.5rem 4rem;
                    font: inherit;
                    font-size: 2.2rem;
                    transition: all .3s;
                }
            }

            .continue {
                &:link, &:visited {
                    border: 1px solid $darkblue;
                    background-color: $orange;
                    color: $darkblue;
                }

                &:hover, &:active {
                    background-color: darken($orange, 15%);
                }
            }
        }
    }
}