$primary-font: 'Nunito', sans-serif;
$secondary-font: 'Titillium Web', sans-serif;
$darkblue: #003333;
$orange: #FF9933;
$lightgreen: #009966;
$red: #FF3333;
$lightblue: #009999;
$white: #FEFEFE;
$gray: #F6F6F6;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $lightgreen;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;

    @media screen and (max-width: 700px) {
        font-size: 50%;
    }
}

body {
    font-family: $primary-font;
    height: 100%;
    position: relative;
}

.default-title {
    font-size: 2.6rem;
    font-family: $secondary-font;
    color: $darkblue;
    padding-bottom: 2px;
    position: relative;
    width: 95px;
    margin-bottom: 3rem;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        border-bottom: 2.5px solid $orange;
        width: 100%;
    }
}

.fixedarrow {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    width: 4rem;
    height: 4rem;
    position: fixed;
    right: 3rem;
    font-size: 2.6rem;
    cursor: pointer;
    bottom: 3rem;
    background-color: darken($orange, 10%);
    color: $white;
    z-index: 70;
    box-shadow: 2px 2px 2.5px rgba(0, 0, 0, .3);
    border-radius: 50%;
}