.checkout {
    width: 100%;
    height: 100%;
    padding: 5rem 10rem;

    @media screen and (max-width: 1100px) {
        padding: 5rem;
    }

    @media screen and (max-width: 60px) {
        padding: 2rem;
    }

    &__title {
        width: 85px;

        @media screen and (max-width: 975px) {
            // width: 80%;
            margin: 0 auto;
            text-align: center;
        }
    }

    .wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;

        @media screen and (max-width: 975px) {
            flex-direction: column-reverse;
        }
    }

    &__left {
        width: 60%;
        min-width: 590px;
        // background-color: #EEE;

        @media screen and (max-width: 975px) {
            width: 80%;
            margin: 0 auto;
        }

        @media screen and (max-width: 725px) {
            min-width: 450px;
        }

        @media screen and (max-width: 550px) {
            min-width: 350px;
        }

        @media screen and (max-width: 450px) {
            min-width: 300px;
        }
        
        &-topbar {
            width: 100%;
            min-width: 540px;
            display: flex;
            justify-content: space-between;
            padding: 1.5rem 0;
            // padding-right: 5%;

            @media screen and (max-width: 1000px) {
                min-width: 500px;
            }

            @media screen and (max-width: 800px) {
                min-width: 300px;
            }

            @media screen and (max-width: 600px) {
                flex-direction: column;
            }

            &--betalning, &--leverans, &--bekraftelse {
                width: 30%;
                text-align: center;
                padding-bottom: 5px;
                font-size: 2rem;
                font-family: $secondary-font;
                color: $darkblue;
                border-bottom: 2px solid $darkblue;
                
                @media screen and (max-width: 800px) {
                    font-size: 1.8rem;
                }
                
                @media screen and (max-width: 600px) {
                    width: 40%;
                    margin: 1rem auto;
                    border-bottom: 1px dotted $darkblue;
                }
            }
            
            .current {
                color: $lightgreen;
                border-bottom: 2px solid $lightgreen;
            }
        }

        .form {
            width: 100%;
            margin: 2rem auto;

            .formwrapper {
                width: 50%;
                margin: 0 auto;
                flex-direction: column;

                @media screen and (max-width: 700px) {
                    width: 90%;
                }
            }

            &__name, &__email, &__address, &__postnumber, &__city {
                display: block;
                width: 100%;
                font-size: 1.6rem;
                font-weight: 600;
                color: $darkblue;
                margin-bottom: 1rem;

                &-input {
                    width: 100%;
                    padding: 3px 0;
                    border: none;
                    font: inherit;
                    font-size: 1.8rem;
                    margin-bottom: 1.5rem;
                    border-bottom: 2px solid rgba(0, 0, 0, .7);
                    transition: all .3s;
                    
                    &:focus {
                        outline: none;
                        border-bottom: 2px solid $lightgreen;
                    }
                }
            }

            .buttons {
                display: flex;
            }

            &__continue, &__return {
                width: 40%;
                cursor: pointer;
                display: block;
                margin: 40px auto;
                margin-bottom: 20px;
                border-radius: 30px;
                padding: 1rem 1.5rem;
                font: inherit;
                font-size: 2rem;
                transition: all .3s;
            }

            &__continue {
                border: 1px solid orange;
                background-color: $darkblue;
                color: $orange;

                &:hover {
                    background-color: lighten($darkblue, 10%);
                }
            }
            
            &__return {
                &:link, &:visited {
                    text-align: center;
                    border: 1px solid $darkblue;
                    background-color: $orange;
                    color: $white;
                    transition: all .3s;
                }

                &:hover, &:active {
                    background-color: darken($orange, 15%);
                }
            }
        }

    }

    &__right {
        width: 20%;
        min-width: 250px;
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width: 975px) {
            width: 80%;
            margin: 2rem auto;
        }

        &-box {
            width: 100%;
            height: 340px;
            max-height: 100%;
            background-color: rgba(#DEDEDE, .8);
            border: 1px solid rgba(#777, .4);
            box-shadow: .5px .5px 1px rgba(0, 0, 0, .1);
            
            &--title {
                border: 1px solid rgba($lightgreen, .4);
                width: 100%;
                color: $lightgreen;
                padding: 3rem 5rem;
                background-color: $lightgreen;
                display: flex;
                justify-content: center;
                align-items: center;

                .title {
                    color: $white;
                    border-bottom: 1.5px solid $red;
                    padding-bottom: 3px;
                    width: 120px;
                }
            }

            .summary {
                padding: 3rem;
            }

            &--pris, &--moms, &--frakt, &--totalt {
                color: $darkblue;
                padding: 1rem;
                font-size: 1.8rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                
                &---name {
                    font-family: $secondary-font;
                }
                
            }
            
            &--frakt {
                border-bottom: 1px dotted rgba(0, 0, 0, .4);

                &---value {
                    color: $lightgreen;
                }
            }
        }
    }
}