/*! Sektion för nya böcker */
.newbooks {
    width: 100%;
    height: 100%;
    padding: 5rem 15rem;
    // margin-bottom: 10rem;

    @media screen and (max-width: 1050px) {
        padding: 5rem 8rem;
    }

    &__title {
        width: 240px;
    }

    &__collection {
        width: 100%;
        // min-height: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        @media screen and (max-width: 850px) {
            flex-wrap: wrap;
        }

        .product {
            width: 20%;
            min-width: 170px;
            height: 100%;

            @media screen and (max-width: 1050px) {
                width: 30%;
            }

            @media screen and (max-width: 470px) {
                width: 60%;
                margin: 0 auto;
                margin-bottom: 2rem;
            }

            &__linkbtn, &__basketbtn {
                display: block;
                padding: 1rem .5rem;
                border-radius: 30px;
                font-family: inherit;
                font-size: 1.4rem;
                width: 90%;
                cursor: pointer;
                transition: all .3s;
            }

            &__linkbtn {
                &:link, &:visited {                
                display: block;
                text-align: center;
                border: 1px solid $white;
                background-color: $lightgreen;
                color: $white;
                margin-bottom: 1rem;
                }

                &:hover, &:active {
                    border: 1px solid $white;
                    background-color: darken($lightgreen, 10%);
                    color: $white;
                }
            }

            &__basketbtn {
                border: 1px solid $orange;
                background-color: $darkblue;
                color: $orange;

                &:hover {
                    border: 1px solid $darkblue;
                    background-color: $orange;
                    color: $darkblue;
                }
            }
        }

        .startbook {
            width: 100%;
            height: 100%;
            cursor: pointer;
            background-size: cover;
            background-position: center;
        }
        

        .book1 {
            background-image: url(../img/products/book1_front.png);
        }

        .book2 {
            background-image: url(../img/products/book2_front.png);
        }
        .book3 {
            background-image: url(../img/products/book3_front.png);
        }
        .book4 {
            background-image: url(../img/products/book4_front.png);
        }

        .larr, .rarr {
            cursor: pointer;
            position: absolute;
            // width: 40px;
            // height: 40px;
            font-size: 25px;
            color: $darkblue;
            top: 40%;
            transform: translateY(-50%);
            transition: all .3s;
            border-radius: 50%;
            padding: 1.5rem;
            // width: 50px;

            @media screen and (max-width: 470px) {
                display: none;
            }
        }

        .larr {
            left: -7rem;

            &:hover {
                color: $red;
            }
        }
        
        .rarr {
            right: -7rem;
            
                &:hover {
                    color: $red;
                }
        }
    }
}