.products {
    height: 100%;
    width: 100%;

    &__collection {
        width: 100%;
        margin: 0 auto;
        
        .product {
            width: 20%;

            &__pic {
                cursor: pointer;
                width: 100%;
                height: 30vh;
                background-position: center;
                background-size: cover;
                margin-bottom: 1rem;
            }

            .pic1 {
                background-image: url(../img/products/book1_front.png);
            }

            .pic2 {
                background-image: url(../img/products/book2_front.png);
            }

            .pic3 {
                background-image: url(../img/products/book3_front.png);
            }

            .pic4 {
                background-image: url(../img/products/book4_front.png);
            }

            .pic5 {
                background-image: url(../img/products/book5_front.png);
            }

            .pic6 {
                background-image: url(../img/products/book6_front.png);
            }

            &__title {
                color: $darkblue;
                font-weight: 600;
                font-size: 1.8rem;
                font-family: $secondary-font;
                margin-bottom: .2rem;
            }

            &__author {
                color: $darkblue;
                font-size: 1.6rem;
                margin-bottom: .2rem;
            }

            &__price {
                font-weight: 600;
                font-family: $secondary-font;
                font-size: 1.8rem;
                color: $red;
                margin-bottom: 1rem;
            }

            &__linkbtn, &__basketbtn {
                padding: 1rem .5rem;
                border-radius: 30px;
                font-family: inherit;
                font-size: 1.4rem;
                width: 90%;
                cursor: pointer;
                transition: all .3s;
            }

            &__linkbtn {
                &:link, &:visited {                
                display: block;
                text-align: center;
                border: 1px solid $white;
                background-color: $lightgreen;
                color: $white;
                margin-bottom: 1rem;
                }

                &:hover, &:active {
                    border: 1px solid $white;
                    background-color: darken($lightgreen, 10%);
                    color: $white;
                }
            }

            &__basketbtn {
                border: 1px solid $orange;
                background-color: $darkblue;
                color: $orange;

                &:hover {
                    border: 1px solid $darkblue;
                    background-color: $orange;
                    color: $darkblue;
                }
            }
        }
    }
}