/*! Sidan för de enskilda produkterna */
.singleprod {
    width: 100%;
    height: 100%;
    padding: 4rem 20rem;

    @media screen and (max-width: 1100px) {
        padding: 5rem;
    }

    &__returnbtn {
            cursor: pointer;
            border: none;
            display: block;
            width: 160px;
            text-align: center;
            padding: 1.5rem 3rem;
            background-color: $lightgreen;
            font-family: inherit;
            font-size: 1.8rem;
            font-weight: 600;
            color: $white;
            margin-bottom: 2rem;
            transition: all .3s;

        &:hover {
            background-color: darken($lightgreen, 10%);
        }
    }

    &__title {
        width: 90%;
        margin: 2rem 0;

        &-name, &-author {
            font-family: $secondary-font;
            font-size: 2rem;
            color: $darkblue;
            margin-bottom: 5px;
        }

        &-author {
            font-weight: 300;
        }
    }

    .specialmain {
        flex-direction: column;
    }

    &__main {
        width: 90%;
        margin: 3rem 0;
        height: 100%;
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 820px) {
            flex-direction: column;
            width: 100%;
        }

        .wrapper {
            display: flex;

            @media screen and (max-width: 800px) {
                flex-direction: column;
            }
        }

        &-left {
            width: 30%;
            height: 40vh;
            min-height: 200px;
            cursor: pointer;
            background-size: cover;
            background-position: center;

            @media screen and (max-width: 820px) {
                width: 90%;
                height: 60vh;
                margin-bottom: 2rem;
            }
        }
        
        .bookcover1 {
            background-image: url('../img/products/book1_front.png');
        }

        .bookcover2 {
            background-image: url('../img/products/book2_front.png');
        }

        .bookcover3 {
            background-image: url('../img/products/book3_front.png');
        }

        .bookcover4 {
            background-image: url('../img/products/book4_front.png');
        }

        .bookcover5 {
            background-image: url('../img/products/book5_front.png');
        }

        .bookcover6 {
            background-image: url('../img/products/book6_front.png');
        }

        &-right {
            width: 65%;

            @media screen and (max-width: 820px) {
                width: 90%;
                margin: 0 auto;
            }

            &--price {
                font-family: $secondary-font;
                font-size: 2.4rem;
                margin-bottom: 2rem;

                span {
                    font-family: $primary-font;
                    color: $red;
                    font-size: 2rem;
                }
            }

            &--buttons {
                width: 90%;
                display: flex;
                justify-content: space-between;

                @media screen and (max-width: 600px) {
                    flex-direction: column;
                    width: 90%;
                    margin: 0 auto;
                }

                &---checkout, &---wishlist {
                    width: 35%;
                    min-width: 210px;
                    cursor: pointer;
                    display: block;
                    margin-bottom: 20px;
                    border-radius: 30px;
                    padding: 1rem 1.5rem;
                    font: inherit;
                    font-size: 1.6rem;
                    transition: all .3s;
                }

                &---checkout {
                    border: 1px solid orange;
                    background-color: $darkblue;
                    color: $orange;

                    &:hover {
                        background-color: lighten($darkblue, 10%);
                    }
                }

                &---wishlist {
                    border: 1px solid $darkblue;
                    background-color: $orange;
                    color: $darkblue;

                    &:hover {
                        background-color: darken($orange, 15%);
                    }
                }
            }

            &--details {
                width: 90%;

                &---kopior, &---framme, &---transport, &---beskrivning {
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: $darkblue;
                    border-bottom: 1px dotted rgba(0, 0, 0, .7);
                    padding: 1.5rem 0;
                }

                &---beskrivning {
                    border-bottom: none;

                    span {
                        color: $lightgreen;
                    }

                    span.readmore {
                        cursor: pointer;
                        color: $orange;
                    }
                }
            }
        }
    }

    &__bottom {
        width: 100%;
        margin: 5rem 0;
        height: 100%;

        &-menu {
            width: 100%;
            display: flex;
            border-bottom: .5px solid rgba($darkblue, .7);

            @media screen and (max-width: 425px) {
                flex-direction: column;
            }

            .beskrivning, .bedomning, .upplagor {
                cursor: pointer;
                font-size: 1.6rem;
                font-weight: 600;
                padding: 1.5rem 2rem;
                border-top: .5px solid rgba($darkblue, .7);
                border-right: .5px solid rgba($darkblue, .7);
            }

            .active {
                background-color: $darkblue;
                color: $orange;
            }
        }

        &-info {
            width: 100%;
            padding: 4rem 0;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 600px) {
                flex-direction: column;
            }

            &--left {
                width: 50%;

                @media screen and (max-width: 600px) {
                    width: 90%;
                    margin-bottom: 3rem;
                }

                &---title {
                    width: 180px;
                    font-size: 2rem;
                    font-family: $secondary-font;
                    color: $darkblue;
                    padding-bottom: 5px;
                    margin-bottom: 1.5rem;
                    border-bottom: 1.5px solid $orange;
                }

                &---desc {
                    font-size: 1.8rem;
                    font-weight: 600;
                    line-height: 1.3em;
                    color: $darkblue;
                    margin-bottom: 1rem;
                }
            }

            &--right {
                padding: 3rem;
                background-color: #EFEFEF;
                box-shadow: .5px .5px 1px rgba(0, 0, 0, .2);

                &---title {
                    width: 130px;
                    font-size: 1.8rem;
                    color: $lightgreen;
                    padding-bottom: 3px;
                    border-bottom: 1.5px solid $red;
                    margin-bottom: 1.5rem;
                }

                &---forfattare, &---format, &---sidor, &---vikt, &---datum {
                    font-size: 1.6rem;
                    margin-bottom: 1.5rem;

                    span {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}